<p id="notice"><%= notice %></p>

<div class="titleDiv"><p class="title">  Espen Sommer Eide – artist/composer </p></div>

<div class="article">
<%= render 'form', project: @project %>
<br><br>
<%= link_to 'Show', @project %>
<%= link_to 'Back', projects_path %>
</div>
